*{margin: 0 !important;
padding: 0 !important;
box-sizing: border-box;
font-family: 'Kaisei Decol', serif;
font-family: 'KoHo', sans-serif;}

body{background: goldenrod;}


/*Home*/

.navbar{background: black;}

.navbar-toggler-icon{stroke: rgba(1, 1, 1, 0.5);
background: goldenrod;
border-radius: 10px;}

/*navbar-toggler-icon{color: goldenrod;}*/

.navbar-brand{font-size: 20px;
font-weight: 1000px ;
color: goldenrod;}

.navbar-nav{font-size: 20px;
font-weight: 500px;}

.nav-link{color: goldenrod;}

#Jumbo{background: black;}

#Jumbo .jumbotron{background: black;
color: goldenrod;}

#Home2{background: black;}

#X{font-size: 30px;
	text-align: right;}

#X h1{font-size: 125px;}

#Y{font-size: 28px;
	text-align: right;}

#Y h1{font-size: 125px;
text-align: left;}

.carousel-inner h5{font-size: 50px;
position: relative;}


/*About Me*/
#AM-2{background: black;
color: goldenrod;
/*padding: 50px;*/}

#About{font-size: 100px;}

#AMP img{border-radius: 200px;}

#AMP{text-align: center;}

#AM-2 #WS {background: goldenrod;
color: black;}

#AM-2 #GS {background: goldenrod;
color: black;}

button	.am-btn{color: goldenrod;}

/*Projects*/

#Projects{font-size: 100px;
color: black;}

.PRO .row{background: black;
color: goldenrod;}

.PRO #proj-btn{background: black;}



#Con h1{font-size: 100px;
color: black;}

#Contact{background: black;}

#Contact form{background: black;}


iframe{border-color: goldenrod;}

#Contact input{background: lightgoldenrodyellow;
border-color: black;
color: black;}

#Contact textarea{background: lightgoldenrodyellow;
border-color: black;
color: black;}

.footer{font-size: 12px;
background: black;}

.footer input{font-size: 12px;}

.footer button{font-size: 12px;}

